<h1>Pages#home</h1>

<%= form_for :property, url: properties_path, method: :post do |f| %>
  <%= f.label :city, "City" %>
  <%= f.select :city, Expert::CITIES %>
  <%= f.label :price, "Price" %>
  <%= f.number_field :price %>
  <%= f.submit "Ajouter" %>
<% end %>

<%= link_to "Voir la liste des propriétés", properties_path %>

<p>Find me in app/views/pages/home.html.erb</p>
